$mainBlue: #03b6e7;
$mainBlue_hover: #00a6d3;
$lightBlue: #a6ecff;
$mainOrange: #ffac56;
$mainOrange_hover: #f6a149;
$mainGreen: #16d428;
$backingBlack: #262829;
$mainTextBlack: #343a3b;
$inputGrey: #323334;
$headerTextGrey: #727779;
$headerTextAltGrey: #a2a5a6;
$secondaryTextBlack: #898e8f;
$paragraphGrey: #838b8c;
$sectionGrey: #e7eff1;
$twentyPShadow: rgba(0,0,0,.2);