.label{
    border: 2px solid $mainOrange;
    background: transparent;
    padding: .575rem 1.8rem;
    font-size: .8rem;
    color: #fff;
    font-weight:500;
    border-radius: 2rem;
    position:absolute;
    left: 0;
    top:1.8rem;
    left: 1.8rem;
}