.label{
    border: 2px solid $mainOrange;
    background: transparent;
    color: #fff;
    font-weight:500;
    border-radius: 2rem;
    position:absolute;
    left: 0;
    top:1.8rem;
    left: 1.8rem;
    font-weight: 600!important;
    padding: .36rem 1.2rem;
    font-size: .6rem;

    @mixin atMedium{
        padding: .575rem 1.8rem;
        font-size: .8rem;
    }
}