.our-steps{

    &--row{
        text-align: center;
        padding-right: 0;
        @mixin atMedium{
            padding-right: 4rem;
            text-align: left;
        }
    }

    &--number{
        color: $mainGreen;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top:1.25rem;
    }
}