.slider{
    @mixin clearfix;
    position: relative;  

    .slider-nav{
        background: $backingBlack;
        padding: 20px 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index:1;

        @mixin atMedium{
            padding: 40px 18px;
        }

        &--left{
            left: 0;
        }
        &--right{
            right: 0;
        }
    }

}

.slider-content{
    visibility: hidden;
    opacity: 0;
    float: left!important;
    position: absolute;
}

.slider-content.active{
    position: relative;
    display: inline-grid;
    visibility: visible;
    transition: .3s all ease;
    transition-delay: .1s;
    opacity: 1;
}
