.slider-panel-element{
    padding: 18px;
    color: #fff;
    background: $mainBlue;
    position: relative;

    @mixin atMedium{
        padding: 36px;
    }

    &--header{
        background: $mainOrange;
    }

    &--icon-wrapper{
        height: 32px;
        width: 32px;
        margin-bottom: .5rem;
    }

    &--text-wrapper{
        display: inline;
        white-space:nowrap;

        span{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
    }

    &--chevron-wrapper{
        &:hover{
            cursor: pointer;
        }
    }

    &__has-border{
        border: 1px solid $mainBlue_hover;
        
        &:hover{
            background: $mainBlue_hover;
            @mixin transition;
        }

        img{
            float: right;
            margin-top: -.3rem;
        }
    }

    h1{
        font-weight:100;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    h4{
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

}

    .slider-panel{
        width:100%;

        @mixin atMedium{
            margin-left: 60px;
            position: absolute;
            bottom: 0;
            max-width: 450px;
        }

        @mixin atLarge{
            margin-left: 0;
        }
    }