.testimonials{
    h4{
        margin:0;
    }

    .row{
        margin-top: 3.2rem;
    }

    .quoted{
        margin: 8px;
        margin-top: 0;

        @mixin atMedium{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 0;
        }
    }

    &--active{
        display: flex;
        align-items: flex-start;

        img{
            max-width: 10%;

            @mixin atMedium{
                max-width: 100%;
            }
        }
    }

    &--client{
        opacity: .5;
        cursor: pointer;
        @mixin transition;

        &:hover{
            opacity: .85;
        }
    }

    .testimonials--client.active{
            opacity: 1;
            transition: .5s all ease-in;
    }

    hr{
        margin: 0;
        margin-top: 2rem;
        border: 1px solid #fff;
    }

    &--client-info{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 3rem;

        p{
            margin-top: .5rem;
        }

        h5{
            color: #fff;
            margin: 0;
            margin-top: 1rem;
        }

    }
}