.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1176px;
    margin-left: auto;
    margin-right: auto;

    &--release{
        padding: 0;
        @mixin atMedium{
        padding-left: 15px;
        padding-right: 15px;
        }
    }
}


.container{
    width: 100%;

    &--dark{
        background-color: $backingBlack;
    }        
    
    @mixin clearfix;
}